html {
  height: 100%;
}
body {
  height: 100%;
  background: #282c34;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #6e6e6e;
  outline: #333 solid 1px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
  min-height: 100vh;
  margin-bottom: 1em;
}

.with-flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hook {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--secondary);
  margin: 0.5em;
}

.hook > div.padded {
  padding: 1em;
}

.hook > div.card-like {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.effect-buttons {
  display: flex;
  flex-direction: column;
}

.effect-buttons > span {
  flex: 1;
}

.effect-buttons > div {
  display: flex;
  flex-direction: column;
  flex: 4;
}

.effect-buttons > div > button {
  margin: 0.25em;
}

.visitors {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.visitors > form {
  flex: 1;
}

.visitors > div:first-of-type {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1em;
  justify-content: center;
}

.visitors > div:first-of-type > div {
  margin: 0.5em;
}

.calculator-content > div {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}
